<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Name</h1>
    <div>
        @ViewBag.Description
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
