@model Asp.Net.Models.Person
<!DOCTYPE html>
<html>
<head>
    <title>Marisa</title>
</head>

<body>
    <h1>Hello @ViewBag.Messeage</h1>
    <h2>Имя: @Model.name Возраcт @Model.age</h2>

</body>
</html>