@{
    ViewBag.Title = "Yukari";
    ViewBag.Name = "Chapter Yukari";
    ViewBag.Description = "Gap portal. Bound Worlds";
    Layout = "/Views/Shared/_Layout.cshtml";

}
<h2>Ну здесь контент находится за другим миром</h2>
